main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 4%;
}

.grid > div {
    border: solid 2px black;
    margin-top: 20px;
}
