body{
    min-height: 100vh;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    position: relative;
}

/*page*/

#container{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#sidebar{
    padding: 40px;
    background-color: white;
    border-right: 1px solid black;
}

#pageContent{
    padding-top: 50px;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: #232323;
    color:rgb(206, 204, 204);
    overflow: hidden;
}

footer a{
    color:rgb(206, 204, 204);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


/*divers*/

button, input[type='button'], input[type='submit']{
    cursor: pointer;
}