body{
    min-height: 100vh;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    overflow-x: hidden;
    position: relative;
}

/*header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 120px;

    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: #131921;
    color: white;
}

header img {

}

header nav ul {
    display: flex;
    list-style: none;
}
header nav li {
    padding-right: 35px;
}
header nav li:hover {
    text-decoration: underline  white;
}
header nav li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

header.deployed {
    height: 100px;
}

#h_left{
    display: flex;
}

#h_left>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#h_left h1{
    margin-left: 50px;
    color: white;
}

/*page*/

#container{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#sidebar{
    padding: 40px;
}

#pageContent{

}

/*footer*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 100vw;
    background-color: #232323;
    color:rgb(206, 204, 204);
    overflow: hidden;
}

footer a{
    color:rgb(206, 204, 204);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


/*divers*/

button, input[type='button'], input[type='submit']{
    cursor: pointer;
}