
table { 
    border-collapse: collapse; 
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}

tr:not(:last-child){
    border-bottom: 2px solid rgb(153, 153, 153);
}

tr:nth-child(odd){
    background-color: whitesmoke;
}
tr:nth-child(even){
    background-color: rgb(235, 235, 235);
}

tr:first-child{
    height: 3rem;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    border-bottom: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th:not(:last-child){
    border-right: 2px solid rgb(68, 68, 68);
}


td{
    padding: 10px 40px;
    min-width: 200px;
}

/*quantity*/
.quantityBox{
    display: flex;
    align-items: center;
}

.buttonQuantity{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.buttonQuantity>button{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#saveCart{
    display: inline-block;
    position: fixed;
    right: 0;
    top: 200px;
    transition: all 0.3s ease-out;
    
}

#saveCart>input{
    padding: 20px 30px;
    font-size: 2rem;
    background: rgba(221, 238, 213 0.4);
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
#saveCart>input:hover{
    font-size: 2.1rem;
    background: rgba(221, 238, 213 0.4);
}

#saveCart.hidden{
    right: -300px;
}

/*commandInfo*/

#commandInfo{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    padding: 20px;
    
    background-color: white;
}

#buyInput{
    margin-top: 20px;
    padding: 25px 35px;
    height: auto;
    align-self: center;

    font-size: 1.1rem;
    background-color: #1e2d41;
    border: 1px solid rgb(124, 124, 124);
    color: white;
    border-radius: 6px;
}

#buyInput:hover{
    border: 1px solid black;
    box-shadow: rgb(131, 131, 131) 0 0 7px;
    border-radius: 8px;
}

#prixInfo>p{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.priceTitle{
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
}

.priceTotal{
    font-style : italic;
}

.paymentType{
    font-weight: 600;
    font-size: 1.1em;
}

#msgEmpty{
    display: flex;
    justify-content: center;

    font-size: 2rem;
    margin-top: 100px;
}