h2{
    align-self: center;
    text-align: center;
}

.card{
    display: flex;
    height: 300px;
    margin: 20px 5%;
    padding: 15px;

    border-radius: 20px;
    background-color: white;
}

.cardImage{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 

.cardImage>img{
    display: block;
    height: 100%;
    max-width: 100%;
}

.cardContent{
    width: 80%;
    padding: 30px 5%;
}

.card-title{
    padding-left: 40px;
    font-size: 1.4rem;
}

.card-description{
    max-width: 800px;
    margin-bottom: 70px;
}

.seeProduct{
    margin-left: 30%;
}