main{
    padding-top: 50px;
}

h2{
    align-self: center;
    text-align: center;
}

#container{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#categories{
    padding: 40px;
}

#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 330px;
    max-height: 400px;
    margin-top: 50px;
    border: 2px solid black;
}

.card>img{
    width: 100%;
}

.card>h3{
    text-align: center;
}